{{ $color := "" }}
{{ $fontcolor := "" }}

{{ if eq (.Get 0) "warning" }}
  <!-- {{ $color = "255, 221, 102" }} -->
  {{ $color = "252, 248, 227" }}
  {{ $fontcolor = "138, 109, 59" }}
{{ else if eq (.Get 0) "info" }}
  <!-- {{ $color = "102, 187, 255" }} -->
  {{ $color = "217, 237, 247" }}
  {{ $fontcolor = "49, 112, 143" }}
{{ else if eq (.Get 0) "danger" }}
  <!-- {{ $color = "255, 102, 102" }} -->
  {{ $color = "242, 222, 222" }}
  {{ $fontcolor = "169, 68, 66" }}
{{ else if eq (.Get 0) "success" }}
  <!-- {{ $color = "54, 179, 126" }} -->
  {{ $color = "223, 240, 216" }}
  {{ $fontcolor = "60, 118, 61" }}
{{ else }}
  {{ $color = "221, 221, 221" }}
  {{ $fontcolor = "91, 93, 94" }}
{{ end }}


<blockquote style="border-radius: .25rem;
margin: 1rem 0;
padding: .7rem 1.2rem .7rem .95rem;
border-left: .25rem solid;
border-left-color: rgba({{ $fontcolor }}, 0.75);
background-color: rgba({{ $color }}, 1);
color: rgba({{ $fontcolor }}, 1);
font-size: 16px;">
{{ .Inner | safeHTML }}
</blockquote>